:root {
    @apply bg-background text-white border-red;
}

#root { 
    position:absolute;
    width: 100%;
    height: 100%;
}

#background { 
    width: 100vw;
    height: 50vh;
    position: static;
    transform: translate(0,50vh);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,0)), to(#2A2830));
}

#dots {
    width: 100%;
    height: 100%;
    background-image: url('/dot.svg');
    background-size: 1.5rem;
}

@screen lg {
    #shtrprld__landing_content_start { width: 512px; padding-left: 3rem; }
}

@screen xl {
    #shtrprld__landing_content_start { width: 640px; padding-left: 2rem; }
}

@screen 2xl {
    #shtrprld__landing_content_start { width: 780px; padding-left: 6rem; }
}