:root {
	@apply bg-background text-white;
}

#root {
	position: absolute;
	width: 100%;
	height: 100%;
}

#background {
	width: 100vw;
	height: 50vh;
	position: fixed;
	transform: translateY(50vh);
	mask-image: -webkit-gradient(left top, left bottom, from(rgba(0, 0, 0, 0)), to(#2a2830));
	-webkit-mask-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0, 0, 0, 0)),
		to(#2a2830)
	);
}

#dots {
	width: 100%;
	height: 100%;
	background-image: url('/dot.svg');
	background-size: 1.5rem;
}

#userMenu {
	transition: opacity 500ms;
}

@screen lg {
	#shtrprld__landing_content_start {
		width: 512px;
		padding-left: 3rem;
	}
}

@screen xl {
	#shtrprld__landing_content_start {
		width: 640px;
		padding-left: 2rem;
	}
}

@screen 2xl {
	#shtrprld__landing_content_start {
		width: 780px;
		padding-left: 6rem;
	}
}
