@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply bg-background text-white overflow-y-scroll;
	@layer min-w-64;
}

#root {
	position: absolute;
	width: 100%;
	height: 100%;
}

#banner {
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(transparent));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), transparent);
}

::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 1rem;
}

@media (max-width: 768px) {
	.mb\:bottom-0 {
		bottom: 0px;
	}

	.md-hidden {
		display: none;
	}

	.mb\:overflow-auto {
		overflow: auto;
	}
}

@media (min-width: 768px) {
	.desk-hidden {
		display: none;
	}
}
